body{
	background-color:hsl(0, 0%, 35%);
	font-family: sans-serif;
	color:hsl(0, 0%, 95%);
	box-sizing:border-box;
	margin-bottom:1em;
}

.banner{
	margin: 0 auto;
	width:90%;
	text-align:center;
	font-size: 4em;
	padding:.25em;
	margin-top:1%;
	border-radius:20px;
}

.output{
	width: 100%;
	text-align:center;
	margin: 0 auto;
	height: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
}

.box{
	margin: 0 auto;
	width:90%;
	text-align:left;
	background-color:#13274B;
	font-size: 4em;
	padding:.25em;
	margin-top:1%;
	border-radius:20px;
	cursor:pointer;
}

#help{
	position:absolute;
	right:4%;
	font-weight:bold;
	background-color: #13274B;
	padding:.25em;
	padding-left: .5em;
	padding-right: .5em;
	cursor:pointer;
	border-radius:25px;

}

.box:last-of-type{
	margin-bottom:.5em;
}

